<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
    <add key="mbb nightly" value="https://dev.azure.com/dnceng/public/_packaging?_a=feed&amp;feed=mobileblazorbindings-nightly" />
  </packageSources>
</configuration>
