
@page "/thisurl"


<ContentView>
    <StackLayout>
        <Label Text="Navigate To me"></Label>
        <Label Text="Navigate To me"></Label>
        <Label Text="Navigate To me"></Label>
        <Label Text="Navigate To me"></Label>
        <Label Text="Navigate To me"></Label>
        <Label Text="Navigate To me"></Label>

    </StackLayout>
</ContentView>

@code {

}
